@import "../../styles/variables";
@import "../../styles/mixins";
.bg-selago {
  background-color: $selago;
  position: relative;
  .pt-174 {
    padding-top: 160px;
    padding-bottom: 100px;
  }
  .color-change {
    @include fonts($pictonBlue, rem(38), $base-font, $extra-bold);
  }
  .shapeUpper {
    position: absolute;
    right: 0;
    top: 40px;
  }
  .shapeLower {
    position: absolute;
    bottom: 72px;
  }
  .pt-150 {
    padding-top: 150px;
    padding-bottom: 100px;
  }
}
.heading {
  letter-spacing: 1.25px;
}
.pt-100 {
  padding: 100px 0 50px;
  max-width: 850px;
  margin: 0 auto;
}
