@import "../../styles/variables";
@import "../../styles/mixins";
.bg-selago {
  background-color: $selago;
  position: relative;
  .pt-174 {
    padding-top: rem(110);
    padding-bottom: rem(100);
  }
  .color-change {
    @include fonts($pictonBlue, rem(38), $base-font, $extra-bold);
  }
  .shapeUpper {
    position: absolute;
    right: 0;
    top: rem(40);
  }
  .shapeLower {
    position: absolute;
    bottom: rem(36);
  }
  .pt-150 {
    padding-top: rem(70);
    padding-bottom: rem(100);
  }
}
.heading {
  letter-spacing: rem(1.25);
}
.p-100 {
  padding: rem(100) rem(0) rem(50);
}

.process__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: rem(50) 0;
  margin-bottom: rem(100);
  .process__step {
    flex: 1 0 10rem;
    position: relative;
    margin-bottom: 5rem;
    padding: 0 1.2rem;
    text-align: center;
    counter-increment: steps;
    margin: rem(-36);
    .process__circles {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0.875em;
        height: 0.875em;
        margin: auto;
        border-radius: 50%;
        background-color: $endeavour;
      }
    }

    h5 {
      position: absolute;
      top: 108px;
      width: 100%;
      text-align: center;
      margin-left: rem(-22);
    }
    &::before {
      content: counter(steps, decimal-leading-zero);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -5;
      font-size: 6.5em;
      font-weight: bold;
      line-height: 1;
      color: $grayNurse;
    }
  }
  hr {
    border: 0;
    clear: both;
    display: block;
    width: 15%;
    background-color: $endeavour;
    height: rem(1);
    top: rem(39);
  }
}
.bg-mdnight {
  background-color: $midnight;
}
.py-30 {
  padding: rem(40) rem(0);
}
.pt-100 {
  padding: rem(100) rem(0);
  .pt-50 {
    padding-top: rem(70);
    &.pl-70 {
      padding-left: rem(50);
    }
    .list {
      list-style-image: url("../images/research/tickIcon.svg");
      padding-left: rem(22);
      margin-bottom: rem(22);
      $this: &;
      &__item {
        @include fonts($storm-gray, rem(16), $base-font, $light);
        letter-spacing: rem(1);
      }
    }
  }
}
.bg-midnight {
  background-color: $midnight;
  &.p-30 {
    padding: rem(50) rem(0);
  }
}
@media (max-width: 1200px) {
  .process__container {
    display: none;
  }
}
