@import "./mixins";
@import "./variables";
.pt-90 {
  h1 {
    @include fonts($midnight, rem(42), $base-font, $extra-bold);
    letter-spacing: rem(0.5);
  }

  h2 {
    @include fonts($midnight, rem(38), $base-font, $extra-bold);
    .endeavour {
      color: $endeavour;
    }
    @include lg {
      @include fonts($midnight, rem(32), $base-font, $extra-bold);
    }
    @include sm {
      @include fonts($midnight, rem(24), $base-font, $extra-bold);
    }
  }
  h3 {
    @include fonts($midnight, rem(36), $base-font, $extra-bold);
    .endeavour {
      color: $endeavour;
    }
    @include lg {
      @include fonts($midnight, rem(20), $base-font, $extra-bold);
    }
  }
  h4 {
    @include fonts($midnight, rem(30), $base-font, $bold);
    .endeavour {
      color: $endeavour;
    }
  }
  h5 {
    @include fonts($midnight, rem(24), $base-font, $bold);
  }
  h6 {
    @include fonts($midnight, rem(20), $base-font, $bold);
  }
}
img {
  max-width: 100%;
}
p {
  @include fonts($storm-gray, rem(18), $base-font, $light);
  text-align: left;
  letter-spacing: rem(1);
  margin-bottom: rem(30);
}

.py-75 {
  padding: rem(75) 0;
}
.px-30 {
  padding: 0 rem(100);
}
.py-50 {
  padding: rem(50) 0;
}
.px-20 {
  padding: rem(50) rem(20);
}
