@import "./mixins";
h1 {
  @include fonts($midnight, rem(42), $base-font, $extra-bold);
  letter-spacing: rem(0.5);
}
p {
  @include fonts($storm-gray, rem(18), $base-font, $light);
  text-align: left;
  letter-spacing: rem(1);
  margin-bottom: rem(30);
}
