@import "../styles/variables";
@import "../styles/mixins";
.our-story {
  position: relative;
  padding: rem(40) rem(0);
  .shapeUpper {
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 70%;
  }
  .shapeLower {
    position: absolute;
    bottom: 26%;
    top: 74%;
  }
}
.about-counter {
  width: 50%;
  @include sm {
    width: 100%;
  }
}
.px-50 {
  padding: rem(50);
  @include md {
    padding: rem(10);
  }
  .aboutImg {
    padding: rem(15) rem(0);
  }
  .text-center {
    @include fonts($storm-gray, rem(15), $base-font, $light);
    @include lg {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.border-left-bottom {
  border-left: $thinSilver;
  border-bottom: $silverSolid;
  @include md {
    border-left: none;
    border-bottom: none;
  }
}
.border-right-bottom {
  border-bottom: $silverSolid;
  @include md {
    border-bottom: none;
  }
  .text-center {
    @include fonts($storm-gray, rem(15), $base-font, $light);
    @include lg {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.b-left {
  border-left: $lightgreyBorder;
}
.bg-roseWhite {
  background-color: $roseWhite;
  border: $blue;
  border-radius: rem(4);
  margin-bottom: rem(25);
  padding: rem(20);
  min-height: rem(215);
  @include xl {
    min-height: rem(264);
  }
  .exp-img {
    max-width: rem(40);
    max-height: rem(40);
    margin-bottom: rem(10);
  }
  .title-b {
    border-left: $cornflowerBorder;
    @include lg {
      @include fonts($midnight, rem(14), $base-font, $bold);
    }
  }
  .fs-18 {
    font-size: rem(18);
  }
  .exp-p {
    margin-bottom: rem(10);
  }
}
.mb-50 {
  margin-bottom: rem(50);
}

.employees {
  display: none;
  .teamsP {
    width: 75%;
    margin: 0 auto;
    padding-bottom: rem(30);
  }
  .text-left {
    padding: rem(25) rem(0);
    .name {
      @include fonts($midnight, rem(22), $base-font, $bold);
    }
    .position {
      @include fonts($storm-gray, rem(16), $base-font, $light);
      text-transform: uppercase;
    }
  }
}
.feedback {
  .pt-90 {
    padding-top: rem(90);
  }
  .pb-90 {
    padding-bottom: rem(90);
    &.right {
      display: flex;
      justify-content: flex-end;
    }
  }
  .bg-endeavour {
    background-color: $endeavour;
    width: rem(200);
    height: rem(150);
  }
  .bg-danube {
    background-color: $danube;
    &.left-side {
      width: rem(80);
      height: rem(70);
      position: absolute;
      top: rem(68);
      left: rem(154);
    }
    &.right-side {
      width: rem(80);
      height: rem(70);
      position: absolute;
      top: rem(104);
      right: rem(150);
    }
  }
  .f-26 {
    @include fonts($white, rem(26), $base-font, $light);
    padding: 0 rem(100);
    line-height: 1.3;
    letter-spacing: 1.5px;
    @include md {
      padding: 0;
    }
  }
  .rightIcon {
    top: 0;
    left: 0;
  }
  .leftIcon {
    bottom: 0;
    right: 0;
  }
}
.offices {
  .address {
    background-color: $polar;
    text-align: left;
    padding: rem(35) rem(30);
    margin-top: rem(30);
    .addressPara {
      @include fonts($storm-gray, rem(16), $base-font, $light);
    }
  }
}
.b-leftGrey {
  border-left: $thinSilver;
  @include md {
    border-left: none;
  }
}
@include lg {
  .hideLarge {
    display: none;
  }
}
