@import "../styles/variables";
@import "../styles/mixins";
.our-story {
  position: relative;
  padding: rem(40) rem(0);
  .shapeUpper {
    position: absolute;
    right: 0;
    top: 30%;
    bottom: 70%;
  }
  .shapeLower {
    position: absolute;
    bottom: 26%;
    top: 74%;
  }
}
.about-counter {
  width: 50%;
  @include sm {
    width: 100%;
  }
}
.px-50 {
  padding: rem(50);
  @include md{
    padding: rem(10);
  }
  .aboutImg {
    padding: rem(15) rem(0);
  }
  .text-center {
    @include fonts($storm-gray, rem(16), $base-font, $light);
  }
}
.border-left-bottom {
  border-left: $thinSilver;
  border-bottom: $silverSolid;
  @include md {
    border-left: none;
    border-bottom: none;
  }
}
.border-right-bottom {
  border-bottom: $silverSolid;
  @include md {
    border-bottom: none;
  }
  .text-center {
    @include fonts($storm-gray, rem(16), $base-font, $light);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
.b-left {
  border-left: $lightgreyBorder;
}
.bg-roseWhite {
  background-color: $roseWhite;
  border: $blue;
  border-radius: rem(4);
  margin-bottom: rem(25);
  padding: rem(20);
  min-height: rem(215);
  @include xl {
    min-height: rem(264);
  }
  .exp-img {
    max-width: rem(40);
    max-height: rem(40);
    margin-bottom: rem(10);
  }
  .title-b {
    border-left: $cornflowerBorder;
    @include lg {
      @include fonts($midnight, rem(14), $base-font, $bold);
    }
  }
  .exp-p {
    margin-bottom: rem(10);
  }
}
.mb-50 {
  margin-bottom: rem(50);
}

.employees {
  display: none;
  .teamsP {
    width: 75%;
    margin: 0 auto;
    padding-bottom: rem(30);
  }
  .text-left {
    padding: rem(25) rem(0);
    .name {
      @include fonts($midnight, rem(22), $base-font, $bold);
    }
    .position {
      @include fonts($storm-gray, rem(16), $base-font, $light);
      text-transform: uppercase;
    }
  }
}
.feedback {
  .midnight-h4 {
    @include fonts($white, rem(28), $base-font, $light);
    padding: rem(70) rem(0);
  }
  .left-image {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: rem(21);
    margin: 0 rem(10);
    .dottedImg {
      position: absolute;
      right: 0;
      top: 5%;
    }
  }
  .w-420 {
    // width: rem(420);
    margin: rem(20) rem(0);
    @media (max-width: 1565px) {
      margin: rem(20) rem(10);
    }
  }
  .group-images {
    display: flex;
    flex-direction: column;
    @media (max-width: 1565px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.offices {
  .address {
    background-color: $polar;
    text-align: left;
    padding: rem(35) rem(60);
    margin-top: rem(30);
  }
}
.b-leftGrey {
  border-left: $thinSilver;
  @include md {
    border-left: none;
  }
}
@include lg {
  .hideLarge {
    display: none;
  }
}
