@import "../styles/variables";
@import "../styles/mixins";
.mx-75{
  max-width: 75%;
  margin: 0 auto;
}
.bg-header {
  background-color: $linkWater;
  .pt-50 {
    padding-top: rem(70);
    padding-left: rem(70);
    @include sm{
          padding-top: 0;
    padding-left: rem(24);
    }
  }

}
.p-50 {
  padding-top: rem(50);
  padding-bottom: rem(50);
}
.p-55 {
  padding-top: rem(55);
  padding-bottom: rem(55);
  padding-left: rem(60);
  height: rem(300);
}
.qbatchList {
  .process__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding: rem(50) 0;
    margin-bottom: rem(100);
    .process__step {
      flex: 1 0 10rem;
      position: relative;
      padding: 0 rem(36);
      text-align: left;
      counter-increment: steps;
      margin: rem(-56);
      @include fonts($storm-gray, rem(18), $base-font, $light);
      &::before {
        content: counter(steps, decimal-leading-zero);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -5;
        font-size: rem(24);
        font-weight: bold;
        line-height: 1;
        color: #012140;
      }
    }
  }
}
.aboutUs{
  position: relative;
  .textPortion{
        position: absolute;
        top: 30%;
        @include lg{
          top: 20%;
        }
        @include md{
          top: 7%;
        }
        @include sm{
          display: none;
        }
    .py-100{
      padding: 0 rem(180);
       @include lg{
              padding: 0 rem(70);
              margin-bottom: 0;
        }
        @include md{
          padding: 0 rem(0);
          font-size: rem(14);
        }
      text-align: center;
    }
  }
}
#freshteam-widget{
  .content{
    width: 70%!important;
  }
h1,h2,h3,h5,h6{
font-family: "Lato", sans-serif!important;
}
.btn-primary {
    background-color: $endeavour!important;
  color: $white!important;
  border-radius:rem(5)!important;
  padding: rem(7) rem(22)!important;
  text-transform: uppercase!important;
  letter-spacing: rem(1)!important;
  border-color: $endeavour!important;
      line-height: 1.6!important;
      font-size: rem(14)!important;
}
 .job-role-list{
  .role-title {
    padding: 50px 0 0!important;
    h5{
      color: $endeavour!important;
    }
   }
.role-count{
   font-family: "Lato", sans-serif!important;
       background-color: #0054a633!important;
    color:$endeavour;
}
  .role-count{
       margin-right: 0px!important;
 }
}
.icon-arrow-right{
 fill: $endeavour!important;
}
 .job-list .job-title{
   font-family: "Lato", sans-serif!important;
   .job-desc {
 font-family: "Lato", sans-serif!important;
   }
 }
 .job-list .job-desc{
   font-family: "Lato", sans-serif!important;
   font-weight: 300;
    color: #6d7384!important;
 }
 .job-role-list .open-list .hidden-content{
   padding-bottom: rem(20)!important;
 }
  .job-details-header{
    background-color: #f7fafe!important;
    h1{
          color: #012140!important;
    }
    .text-color{
         color: #012140!important;
    }
  }
  .job-details .link-back {
    color: #012140!important;
}
.job-details .link-back .icon-arrow-left {
      fill: #012140!important;
}
strong{
    color: #012140!important;
    font-family: "Lato", sans-serif!important;
}
h2{
  font-size: 30px!important;
    color: #012140!important;
}
.container-fluid{
  ul{
    padding-left: rem(20);
    li{
          color: #6d7384;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625rem;
    }
  }
}
.brand-color {
    color: #012140!important;
}
.resume-upload .btn-success{
  background-color: transparent!important;
    border-radius: rem(5)!important;
    padding: rem(14) rem(22)!important;
    text-transform: uppercase!important;
    border-color:$endeavour!important;
    color: #0054a6!important;
    font-size: 0.875rem!important;
    font-family: "Lato", sans-serif!important;
    font-weight: 400!important;

}
.form-control:focus {
    border-color:$endeavour!important;
}
}
