@import "../styles/variables";
@import "../styles/mixins";
.mt__8 {
  margin-top: rem(-8);
}
.first__estimate {
  position: relative;
  .first {
    @include fonts($aquaHaze, rem(200), $base-font, $bold);
    text-align: center;
  }
  .device {
    position: absolute;
    top: rem(75);
    .inner-hr {
      width: rem(68);
      background-color: $endeavour;
      height: rem(2);
    }
  }
}
.select-box {
  box-shadow: $estimateShadow;
  border: $estimate;
  text-align: center;
  padding: rem(12) rem(23) rem(20);
  cursor: pointer;
  min-height: rem(220);
  margin-bottom: rem(10);
  @include lg {
    padding: rem(12) rem(15) rem(20);
  }
  .form-check {
    text-align: right;
    input[type="checkbox"] {
      box-sizing: border-box;
      width: rem(20);
      height: rem(20);
      padding: 0;
    }
  }
  img {
    padding-bottom: rem(15);
  }
  h5 {
    @include lg {
      @include fonts($midnight, rem(14), $base-font, $regular);
    }
  }
}
.estimate_form {
  .form-group {
    .form-control {
      background-color: transparent;
      padding: rem(20) rem(10);
      &::placeholder {
        @include fonts($regentStBlue, rem(16), $base-font, $regular);
      }
    }
    .form-check {
      input[type="checkbox"] {
        box-sizing: border-box;
        width: rem(18);
        height: rem(18);
        padding: 0;
      }
      .form-check-label {
        @include fonts($steel-Blue, rem(16), $base-font, $regular);
        margin: rem(2) rem(7);
      }
    }
  }
  .email-sent {
    @include fonts($steel-Blue, rem(18), $base-font, $regular);
  }
  .privacy-policy {
    color: $storm-gray;
  }
}
