@import "../styles/mixins";
.pt-90 {
  padding-top: rem(90);
  @include lg {
    padding-top: rem(63);
  }
}
.layout {
  .skewed-bg {
    background: $white;
    padding: rem(200) rem(0);
    @include transform(0deg, -12deg);
    margin-top: rem(-200);
    padding-bottom: rem(25);

    .content {
      @include transform(0deg, 12deg);
      .pt-155 {
        padding-top: rem(122);
        @include md {
          padding-top: rem(30);
        }
        .image-space {
          position: absolute;
          right: 0;
          top: rem(-50);
          @include md {
            top: rem(22);
          }
        }
      }
    }
  }

  .inner-skewed {
    padding-top: rem(250);
    padding-bottom: rem(50);
    @include md {
      padding-top: rem(500);
    }
    .hwr {
      @include fonts($endeavour, rem(18), $base-font, $bold);
      padding-bottom: rem(8);
    }
    .hwr-types {
      @include fonts($midnight, rem(28), $base-font, $bold);
      padding-bottom: rem(102);
    }
    .h-title {
      @include fonts($storm-gray, rem(20), $base-font, $regular);
      letter-spacing: 1px;
      text-align: center;
    }
  }
}
.btn-batch {
  display: flex;
  margin-bottom: rem(10);
  // @include md {
  //   justify-content: center;
  // }
  .endeavour-button {
    @include endeavour;
    &.hover {
      background-color: tr;
    }
  }
  .outline-button {
    @include outline;
  }
  .btn-send {
    background-color: $endeavour;
    padding: rem(10) rem(60);
    color: $white;
    border: none;
    margin: rem(10) rem(12);
    text-transform: uppercase;
  }
}

.driven-process {
  .img-bg {
    width: rem(100);
    height: rem(100);
    background-color: $selago;
    @include border-radius(rem(50));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: rem(16);
  }
  .pt-30 {
    padding: rem(30) 0;
    .research-p {
      @include fonts($storm-gray, rem(14), $base-font, $light);
      text-align: center;
      letter-spacing: 0.3px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .arrow {
    display: flex;
  }
  @include md {
    .d-flex {
      flex-wrap: wrap;
      justify-content: center;
      .arrow {
        display: none;
      }
    }
  }
}

.services {
  .d-flex {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    .popularService {
      @include fonts($midnight, rem(18), $base-font, $bold);
      opacity: 0.5;
    }
  }

  .services-list {
    box-shadow: $services;
    padding: rem(10) rem(24);
    @include border-radius(rem(5));
    cursor: pointer;
    min-height: rem(210);
    margin-bottom: rem(25);
    position: relative;
    .rightArrow {
      color: $endeavour;
      font-size: rem(18);
      position: absolute;
      bottom: rem(14);
    }
    .linkIcon {
      width: rem(44);
      height: rem(44);
      background-color: $linkWater;
      text-align: center;
      padding: rem(11) rem(0);
      svg {
        color: $endeavour;
      }
      @include md {
        margin: 0 auto;
      }
    }
    .sPara {
      @include fonts($midnight, rem(12), $base-font, $light);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .sh6 {
      @include fonts($midnight, rem(14), $base-font, $regular);
      margin-top: rem(12);
    }
    &:hover {
      background-color: $endeavour;
      .rightArrow {
        color: $white;
      }
      .linkIcon {
        background-color: $curiousBlue;
        svg {
          color: $white;
        }
      }
      .sPara,
      .sh6 {
        color: $white;
      }
    }
  }
}
.teams {
  width: 100%;
  background-color: $selago;
  clip-path: polygon(0 0, 100% 0, 100% 53%, 0 81%);
  min-height: rem(1500);
  @include lg {
    min-height: rem(1750);
  }
  @include md {
    min-height: rem(1970);
  }
  @include sm {
    min-height: rem(3232);
  }
  .teams-detail {
    padding: rem(120) rem(0) rem(0);
  }
}
.experites {
  width: 100%;
  background-color: $midnight;
  @include transform(0deg, -8deg);
  position: absolute;
  bottom: 0;
  .inner-content {
    @include transform(0deg, 8deg);
    padding: rem(175) rem(0) rem(100);
    .exp-p {
      opacity: 0.7;
    }
    .border-h5 {
      border-left: $cornflowerBorder;
    }
    .mb-50 {
      margin-bottom: rem(50);
    }
    .mb-22 {
      margin-bottom: rem(22);
    }
    .exp-img {
      padding-bottom: rem(16);
      padding-left: rem(2);
    }
  }
}
.bg-cornflower {
  position: absolute;
  height: rem(50);
  bottom: rem(-49);
  right: rem(1);
  background-color: $cornflower;
  z-index: -1;
  width: 20%;
  @include md {
    display: none;
  }
}
.testimonial {
  .bg-cornflower {
    position: absolute;
    height: rem(50);
    top: 17%;
    bottom: 84%;
    left: 0;
    background-color: $cornflower;
    z-index: -1;
    width: 20%;

    @include transform(0deg, -7deg);
    @media only screen and (max-width: 1400px) {
      @include transform(0deg, -8deg);
    }
    @media only screen and (max-width: 1100px) {
      @include transform(0deg, -9deg);
    }
    @include lg {
      @include transform(0deg, -13deg);
    }
    @include md {
      display: none;
    }
  }

  .contact-us {
    background-color: $midnight;
    clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 100%);
    @include md {
      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
  }
}
.pt-200 {
  padding-top: rem(319);
  padding-bottom: rem(50);
}
.recognized-h2 {
  @include fonts($midnight, rem(38), $base-font, $regular);
  padding: 0 rem(20);
}
.recognized-list {
  padding-bottom: rem(40);
  .clutch {
    width: rem(150);
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
