@import "../styles/mixins";
.pt-90 {
  padding-top: 90px;
}
.background {
  background-color: $selago;
  .skewed-bg {
    background: $white;
    padding: 200px 0;
    @include transform(0deg, -12deg);
    margin-top: -200px;
    padding-bottom: rem(25);
    .content {
      @include transform(0deg, 12deg);
      .btn-batch {
        .endeavour-button {
          @include endeavour;
        }
        .outline-button {
          @include outline;
        }
      }
      .pt-155 {
        padding-top: 155px;
        .image-space {
          position: absolute;
          right: 0;
          top: -50px;
        }
      }
    }
  }

  .footer {
    padding-top: 250px;
    padding-bottom: 50px;
    .hwr {
      @include fonts($endeavour, rem(20), $base-font, $bold);
    }
    .hwr-types {
      @include fonts($midnight, rem(28), $base-font, $bold);
      padding-bottom: rem(102);
    }
    .h-title {
      @include fonts($storm-gray, rem(20), $base-font, $regular);
      letter-spacing: 1px;
      text-align: center;
    }
  }
}
