@import "../styles/variables";
@import "../styles/mixins";
.pt-100 {
  padding: 100px 0;
  .pt-50 {
    padding-top: 70px;
    &.pl-70 {
      padding-left: 50px;
    }
    .list {
      list-style-image: url("../images/research/tickIcon.svg");
      padding-left: rem(22);
      margin-bottom: rem(22);
      $this: &;
      &__item {
        @include fonts($storm-gray, rem(16), $base-font, $light);
        letter-spacing: rem(1);
      }
    }
  }
}
.bg-midnight {
  background-color: $midnight;
  &.p-30 {
    padding: 50px 0;
  }
}
