.view-sliders {
  width: 100%;
  padding: 8% 0;
  .slider-p {
    @include fonts($abbey, rem(28), $base-font, $light);
    min-height: rem(130);
    @include lg {
      min-height: rem(130);
    }
    text-align: center;
  }
  .profile-box {
    margin-top: rem(50);
    .profile-detail {
      @include fonts($abbey, rem(14), $base-font, $light);
    }
    .profile-title {
      @include fonts($portGore, rem(20), $base-font, $semi-bold);
    }
  }
  .carousel-indicators {
    bottom: rem(-69);
    @include sm {
      bottom: rem(-50);
    }
    li {
      background-color: $midnight;
      &.active {
        width: rem(84);
      }
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
}
