.testimonial-form {
  .contact-heading {
    .contact-h5 {
      @include fonts($cornflower, rem(20), $base-font, $regular);
      display: inline-block;
    }
  }
  .b-border {
    width: rem(75);
    margin: 0;
    border-top: $cornflowerBorder;
  }
  .text-spam {
    @include fonts($mercury, rem(18), $base-font, $regular);
    opacity: 0.7;
  }
  .mb-10 {
    margin-bottom: rem(35);
  }
  .contact-form {
    .form-control {
      background-color: transparent;
      border: $input;
      @include fonts($white, rem(16), $base-font, $regular);
      margin-bottom: rem(24);
      padding: rem(23) rem(11);
      ::placeholder {
        text-transform: capitalize;
      }
    }
    .contactUs-dropdown {
      .form-control {
        @include fonts($white, rem(16), $base-font, $regular);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        padding: rem(7) rem(11);
        height: rem(48);
      }
      .text-light {
        right: rem(17);
        top: rem(16);
      }
    }
  }
  .actions {
    .action-line {
      margin: 0;
      border-top: $cornflowerBorder;
      width: rem(124);
    }
  }
  .text-center-md {
    margin-top: rem(30);
  }
  .detail {
    margin-top: rem(5);
    $this: &;
    &__list {
      @include fonts($danube, rem(14), $base-font, $light);
      padding: rem(3) rem(0);
    }
  }
}
