.slider {
  .slider-h3 {
    padding: rem(30) rem(0);
  }
  .listItem {
    list-style-image: url("../images/research/tickIcon.svg");
    padding-left: rem(22);
    margin-bottom: rem(22);
    $this: &;
    &__item {
      @include fonts($storm-gray, rem(16), $base-font, $light);
      letter-spacing: rem(1);
    }
    @include lg {
      display: none;
    }
  }
  .slide {
    //   .carousel-indicators {
    //     bottom: rem(-69);
    //     li {
    //       background-color: $midnight;
    //       &.active {
    //         width: rem(84);
    //       }
    //     }
    //   }
    // }
    // .carousel-control-prev-icon,
    // .carousel-control-next-icon {
    //   display: none;
    //   z-index: -1;
    // }
    // .carousel-control-next,
    // .carousel-control-prev {
    //   display: none;
    // }
    .lg-hide {
      @include lg {
        display: none;
      }
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
    z-index: -1;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
}
.carousel-indicators {
  bottom: -4.3125rem !important;
  li {
    background-color: $midnight !important;
  }
}
