@import "../styles/variables";
@import "../styles/mixins";
.header {
  box-shadow: $header-shadow;
  position: fixed;
  z-index: 999;
  background-color: $white;
  .navbar {
    padding: rem(8) 0;
    @include sm {
      padding: rem(24) 0;
      .navbar-nav {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
      }
    }
    .goBack {
      padding-right: rem(30);
      text-transform: uppercase;
      padding: rem(11.5) rem(0);
      .backIcon {
        margin-right: rem(10);
      }
    }
  }

  #collapse-navbar-nav {
    .navbar {
      $this: &;
      &__item {
        text-transform: uppercase;
        @include fonts($midnight, rem(14), $base-font, $regular);
        padding: rem(10) rem(18);
        letter-spacing: rem(1);
        &:hover {
          color: #3995f0;
        }
        &.active {
          color: #3995f0;
        }
        .endeavour-button {
          @include endeavour;
        }
      }
    }
  }
}
