.p-75 {
  padding: 75px 20px;
  .rec-carousel-wrapper {
    .lgksPe,
    .iLquPE {
      color: $white;
      &:hover:enabled,
      &:focus:enabled {
        background-color: transparent;
        box-shadow: 0 0 10px #ccc;
      }
    }
    .rec-pagination {
      display: none;
    }
  }
}
