@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #012140;
  font-size: 2.625rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  letter-spacing: 0.03125rem;
}

p {
  color: #6d7384;
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.0625rem;
  margin-bottom: 1.875rem;
}

.header {
  -webkit-box-shadow: 0px 2px 2px #0054a617;
          box-shadow: 0px 2px 2px #0054a617;
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
}

.header #collapse-navbar-nav .navbar__item {
  text-transform: uppercase;
  color: #012140;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 0.625rem 1.125rem;
  letter-spacing: 0.0625rem;
}

.header #collapse-navbar-nav .navbar__item .endeavour-button {
  background-color: #0054a6;
  color: #ffffff;
  border-radius: 0.3125rem;
  padding: 0.4375rem 1.375rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  border-color: #0054a6;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.header #collapse-navbar-nav .navbar__item .endeavour-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pt-90 {
  padding-top: 90px;
}

.background {
  background-color: #f7fafe;
}

.background .skewed-bg {
  background: #ffffff;
  padding: 200px 0;
  -webkit-transform: scale(0deg);
  transform: skew(0deg, -12deg);
  margin-top: -200px;
  padding-bottom: 1.5625rem;
}

.background .skewed-bg .content {
  -webkit-transform: scale(0deg);
  transform: skew(0deg, 12deg);
}

.background .skewed-bg .content .btn-batch .endeavour-button {
  background-color: #0054a6;
  color: #ffffff;
  border-radius: 0.3125rem;
  padding: 0.4375rem 1.375rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  border-color: #0054a6;
  color: #ffffff;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.background .skewed-bg .content .btn-batch .endeavour-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.background .skewed-bg .content .btn-batch .outline-button {
  background-color: transparent;
  border-radius: 0.3125rem;
  padding: 0.4375rem 1.375rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  border-color: #0054a6;
  color: #0054a6;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.background .skewed-bg .content .btn-batch .outline-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.background .skewed-bg .content .pt-155 {
  padding-top: 155px;
}

.background .skewed-bg .content .pt-155 .image-space {
  position: absolute;
  right: 0;
  top: -50px;
}

.background .footer {
  padding-top: 250px;
  padding-bottom: 50px;
}

.background .footer .hwr {
  color: #0054a6;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.background .footer .hwr-types {
  color: #012140;
  font-size: 1.75rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding-bottom: 6.375rem;
}

.background .footer .h-title {
  color: #6d7384;
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=layout.css.map */