* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}

@import "../styles/defaults";
@import "../components/featuredWork";
@import "./header";
@import "../pages/index";
html {
  scroll-behavior: smooth;
}
