* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
@import "./header";
@import "./footer";
@import "../styles/defaults";
@import "../components/marketPresence";
@import "../components/servicesList";
@import "../pages/services/services";
@import "../components/featuredWork";
@import "../components/contactForm";
@import "../components/clientFeedback";
@import "../components/workSlider";
@import "../pages/career";
@import "../pages/terms";
@import "../pages/estimate";
@import "../pages/work/work";
@import "../pages/about";
@import "../pages/teams";
@import "../pages/index";
@import "../pages/conatct";
html {
  scroll-behavior: smooth;
}
